@tailwind base;
@tailwind components;
@tailwind utilities;

body{
  background-color: #fff;
  min-height: 100vh;
  font-family: Arial, Helvetica, sans-serif;
  color: #fff;
}
html{
  scroll-behavior: smooth;
}